.home{

}
.logo{}
.header {
    background-color: var(--amarillo);
    padding-bottom: 30px;
}
.barraBusc{
    border: solid 1px var(--gris-oscuro);
    color: var(--gris-oscuro);
    background-color: var(--gris-claro);
    margin: 1px;
    width: 170px;
}
.lupa{
    display: inline;
    margin: 1px;
    margin-bottom: 7%;
}
.lupa a {
    color: black;
}
.lupa a i {
    font-size: 13px;
    border: solid 1px var(--gris-oscuro);
    background-color: var(--gris-claro);
    border-radius: 10%;
    padding: 3px;
}
.parrafocen{
    text-align: center;
}
.parrafocen i {
    margin: 3%;
}

.header img{
    margin-left: 20px;
    margin-top: 6%;
    margin-bottom: 2%;
    width: 34%;
}
.headerList{
    display: none;
}
.barras{
    display: flex;
    justify-content: center;
}
.barras i{
    padding: 9px;
    background-color: var(--celeste);
    border: solid 1% var(--celeste);
    border-radius: 15%;
    color: var(--gris-claro);
    font-size: 27px;
}
.nav-margin{
    margin-left: 20px;
}
