.home{

}
.header {
    background-color: var(--amarillo);
padding-bottom: 30px;
}
.barraBusc{
    border: solid 1px var(--gris-oscuro);
    width: 47%;
    font-size: 210%;
    color: var(--gris-oscuro);
    background-color: var(--gris-claro);
    margin: 1px;
}
.lupa{
    width: 10%;
    height: 16px;
    margin: 1px;
    margin-bottom: 7%;
}
.lupa a {
    color: black;
}
.lupa a i {
    padding: 3% 1% 4% 5%;
    border: solid 1px var(--gris-oscuro);
    background-color: var(--gris-claro);
    border-radius: 10%;
    font-size: 250%;
}
.parrafocen{
    text-align: center;
}
.parrafocen i {
    margin: 3%;
}

.header img{
    margin-top: 6%;
    margin-bottom: 2%;
    width: 34%;
}
.headerList li a{
    color: black;
    text-decoration: none;

}
.headerList {
    padding: 0;
}
.barras i{
    margin-left: 50%;
    padding: 1%;
    width: 45.04px;
    background-color: var(--celeste);
    border: solid 1% var(--celeste);
    border-radius: 15%;
    color: var(--gris-claro);
    font-size: 200%;
}
.nav-margin{
    margin-left: 6%;
}
