.home{

}
.logo{}
.header {
    justify-content: space-between;
    padding: 5%;
    flex-wrap: wrap;
    display: flex;
    background-color: var(--amarillo);
}
.header section{display: flex;margin-top: 1%;}
.barraBusc{
    border-radius: 5px 0px 0px 5px;
    height: 100%;
    border: none;
    color: var(--gris-oscuro);
    background-color: var(--gris-claro);
    width: 100%;
}
.lupa{display: flex;border-radius: 0px 5px 5px 0px;height: 100%;background-color: var(--gris-claro);}
.lupa a {
    align-self: center;
    color: var(--gris-oscuro);
}
.lupa a i {
    font-size: 13px;
}
.parrafocen{text-align: center;}
.parrafocen i {
    margin: 3%;
}

.header img{
    width: 50%;
}
.headerList1{
    width: 40%;
    align-self: start;
    display: none;
}
.headerList2{
    gap: 1%;
    width: 50%;
    align-self: end;
    display: none;
}
.barras{
    margin: 3% auto;
    display: flex;
    justify-content: center;
}
.barras i{
    padding: 9px;
    background-color: var(--celeste);
    border: solid 1% var(--celeste);
    border-radius: 15%;
    color: var(--gris-claro);
    font-size: 27px;
}
nav.nav-margin {
    width: 50%;
    display: flex;
}
